div.container {
    background-color: white;
    opacity: 0.9;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
}

body {
    /*background-color: #1e7e34;*/
    background-image: url("/images/library.jpg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

}

img.logo {
    height: 100%;
    width: 20%;
    float: left;
}

div.site-head {
    height: fit-content;
    background-color: sienna;
}

#site-title {
    text-align: center;
    vertical-align: middle;
}

div.home-content{
    width: 80%;
    margin: 0 auto;
}

#copyright {
    /*position: absolute;*/
    /*bottom: 0;*/
}

.title {
    width: 100%;
}

div.form {
    position: relative;
    top: 30%;
    width: 60%;
    max-width: 250px;
    opacity: 0.7;
    background-color: white;
    margin: 0 auto;
}

div.form-bg {
    width: 60%;
    height: 500px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}